.header {
  height: 6.5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;
    .logo {
      background: #fff;
      padding: 0 20px;
      height: 100%;
      a {
        color: #000;
        font-size: 2rem;
        h2 {
          font-weight: 400;
          span {
            font-weight: 300;
          }
        }
      }
    }
    .men-women {
      width: 120px;
      margin-left: 40px;
    }
    nav {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      ul,
      ul li {
        margin: 0 10px;
        padding: 0;
      }
      ul {
        li {
          list-style: none;
          display: inline-block;
          a {
            font-weight: 400;
            font-size: 1.8rem;
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
    .callToActions {
      margin-right: 20px;
      display: flex;
      ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
          list-style: none;
          span {
            cursor: pointer;
          }
          &:first-child {
            margin-right: 10px;
          }
          a {
            font-weight: 400;
            font-size: 1.8rem;
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
  }
}
