.formRow {
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    outline: none;
    border: 1px solid #000000;
  }
}
